@{
    ViewBag.Title = "Index";
}


@section Body{
    <div id="herbalMainDiv">
        <div class="par">

            <span>НашСайт</span>
            <p>Многолетнее травянистое растение, образует дерновинки и несколько стеблей. Корень ползучий. Стебли прямостоячие, 30-45 см, тонкие, гладкие, заканчиваются раскидистой метелкой. Листья узкие, линейные, шероховатые, верхние расширенные. Язычок длинный до 5 мм, заостренный, разорванный. Метелка небольшая, раскидистая, с немногочисленными веточками с широколанцетными колосками, на коротких ножках. Колосковые чешуи яйцевидно-ланцетные, широкие, по краям мелкозубчатые. Нижняя цветочная чешуя короче колосковых чешуй, ость коленчато-изогнутая, длинная.</p>

        </div>

</div>
}