@model List<herbDllProj.herbals>


@section Body{
    <div id="coolListWrapper">
        <span>Результаты поиска по запросу: "@ViewBag.searchedText"</span>

    @foreach (var item in @Model)
    {
        @Html.Partial("_CoolListItem", item);

    }
</div>

}