@{
    ViewBag.Title = "Онлайн справочник лекарственных растений";
}


@section Body{
    
    <div id="herbalMainDiv">
        
        <div class="par">
            <span>Сила растений</span>
            <p>С древнейших времен люди использовали силу лекарственных растений для лечения различных заболеваний. 
            Шумерская медицина, вавилонская, китайская, древнегречиская, тибетская и другие положили начало использованию растений не только как пищи, но и как средство борьбы с различныи заболеваниями.
            И в наше время совершенно необязательно глотать горсть таблеток, что бы вылечить свой недуг.</p>

            <p>С появлением особого сословия врачей и аптекарей знания о лекарственных растениях были формализованы. Сведения о лекарственных растениях и требования к лекарственному сырью стали излагать в фармакопеях.
В настоящее время в программе обучения в медицинских и фармацевтических институтах входит курс фармакогнозии.
В народной медицине находят применение и неофицинальные лекарственные растения, круг которых не имеет чётких границ.</p>

        </div>

        <div class="par">
            <span>Применение лекарственных растений</span>
            <p>
                В лекарственных травах содержится минимум одно вещество, обладающее лечебными свойствами. 
                Это вещество или вещества зачастую неравномерно распределены по тканям и частям растения. 
                Поэтому при сборе лекарственных трав надо знать, где сосредоточены полезные элементы и в какой период развития растения их концентрация максимальна.
                Из официнальных растений получают различные морфологические группы лекарственного растительного сырья: трава, цветки, листья, корневища, корни, плоды, семена, кора, почки и др.
            </p>
            <p>
                Основные способы применения сырья лекарственных растений: производство лекарственных средств для внутреннего и наружного применения.
                Внутрь применяют водные извлечения: настой, отвар, водно-спиртовые, масляные извлечения (настойка, экстракты) из лекарственного растительного сырья или сборов. Из сочных свежих частей официнальных растений получают сок. Реже находит применение в медицине порошок из высушенного лекарственного растительного сырья.
                Для наружного применения используются: травяная ванна, обертывание, примочка, компресс.
            </p>            
        </div>

</div>
}