@{
    ViewBag.Title = "PageNotFound";
}

@section Body{
    <div id="herbalMainDiv">
        <div class="par">

            <span>Page not found</span>
            <p>Страница не найдена. Проверьте введенный адрес.</p>
        </div>

    </div>
}