body, html {
    margin: 0;
    padding: 0;
    color: #003562;
    font-family: Times New Roman;
    /*background-color: rgb(232, 251, 196);*/
    cursor: default;
    width: 100%;
   
    min-width: 850px;
}

h1 {
    margin: 0;
    padding: 0;
}


#globalDiv {
    width: 850px;
    /*background-color: rgb(232, 251, 196);*/
    margin: 5px auto 10px;
    border-radius: 10px;
}

#headerDiv {
    width: 100%;
    height: 100px;
    background-color: rgb(179, 210, 236);
    border-radius: 10px 10px 0 0;
}

    #headerDiv span {
        font-size: 25px;
        float: left;
        padding-left: 25px;
        padding-top: 30px;
        display: block;
        color: #5D7CB3;
        
        /*text-shadow: -2px 0 #003562, 0 2px #003562, 2px 0 #003562, 0 -2px #003562;*/
    }

        #headerDiv span:first-child {
            font-size: 50px;
            float: left;
            padding-left: 30px;
            padding-top: 10px;
            display: block;
            color: #5D7CB3;
            
            /*text-shadow: -2px 0 #003562, 0 2px #003562, 2px 0 #003562, 0 -2px #003562;*/
        }


#allLetters {
    padding: 0 10px;
    display: block;
    margin-top: -20px;
}

    #allLetters a {
        padding: 0 2px;
        /*color:  rgb(101, 134, 0);*/
        font-weight: 500;
        color: #01447D;
        font-size: 16px;
        text-decoration: none;
        border-radius: 5px;
    }

        #allLetters a:visited {
            color: #01447D;
        }

        #allLetters a:hover {
            color: rgba(179, 210, 236,1);
            background-color: rgba(1, 68, 125, 0.5);
        }



#latinLetters {
    float: left;
    display: block;
}

#rusLetters {
    float: right;
    display: block;
}

#searchBlock {
    clear: both;
    background-color: rgb(179, 210, 236);
    padding: 5px 0 10px 40px;
    border-radius: 0 0 10px 10px;
    margin: 0;
    height: 15px;
}

#s {
    color: grey;
    width: 200px;
    float: right;
    padding-left: 3px;
    border: 1px solid rgb(179, 210, 236);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
}

    #s:focus {
        border: 1px solid #01447D;
        color: #01447D;
    }

.sButton {
    float: right;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(179, 210, 236);
    height: 22px;
}

    .sButton:hover {
        border: 1px solid #01447D;
    }

#r {
    color: grey;
    width: 200px;
    padding-left: 3px;
    border: 1px solid rgb(179, 210, 236);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
}

    #r:focus {
        border: 1px solid #01447D;
        color: #01447D;
    }

.srButton {
    border-radius: 5px;
    border: 1px solid rgb(179, 210, 236);
    height: 22px;
}

    .srButton:hover {
        border: 1px solid #01447D;
    }

#mainPageDiv {
    width: 100%;
}

#contentDiv {
    width: 100%;
    padding-bottom: 1px;
    margin-top: 10px;
}


#footerDiv {
    width: 100%;
    background-color: rgba(179, 210, 236,0.8);
    text-align: center;
    border-radius: 0 0 10px 10px;
}


.coolListItem {
    width: 810px;
    display: inline-block;
    max-height: 130px;
    position: relative;
    margin: 2px 10px;
    background-color: rgba(179, 210, 236, 0.2);
    padding: 3px 0 0 0;
    border-radius: 10px;
}

    .coolListItem:last-child {
        margin-bottom: 10px;
    }

    .coolListItem:hover {
        background-color: rgba(179, 210, 236, 1);
        box-shadow: 0 0 5px #01447D;
    }

#coolListWrapper {
    width: 830px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: rgba(179, 210, 236, 0.2);
    display: inline-block;
    min-height: 400px;
}

    #coolListWrapper > span:first-child {
        font-size: larger;
        text-align: center;
        display: block;
        width: 100%;
        background-color: rgba(179, 210, 236,0.8);
        padding: 5px 0;
        border-radius: 10px 10px 0 0;
        color: #01447D;
        font-weight: bolder;
        margin-bottom: 10px;
    }

.coolListItemTitle {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    color: #01447D;
}

.coolListItem ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

    .coolListItem ul li {
        color: rgba(0,50,150,0.9);
        border-radius: 5px;
        min-width: 130px;
        margin: 2px 2px;
        padding: 0 5px;
        font-size: smaller;
    }

        .coolListItem ul li:last-child {
            margin-bottom: 5px;
        }

.CollListitemCol1 {
    float: left;
}

.coolItemWrapper {
    width: 100%;
    display: inline-block;
}

.CoolItemPic {
    width: 110px;
    height: 110px;
    overflow: hidden;
    float: left;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    border-radius: 60px;
    border: 1px solid rgba(179, 210, 236,1);
}

.par {
    display: block;
    text-align: justify;
    padding: 0;
    margin: 10px;
    background-color: rgba(179, 210, 236,0.5);
    clear: both;
    border-radius: 10px;
}

    .par p {
        padding: 10px 20px;
        margin: 0;
        text-indent: 20px;
    }

    .par span ~ div {
        margin-top: 5px;
    }


.receipspar {
    display: block;
    text-align: justify;
    padding: 0;
    margin: 10px;
    background-color: rgba(179, 210, 236,0.5);
    clear: both;
    border-radius: 10px;
}

    .receipspar p {
        text-indent: 0;
        padding: 10px 20px;
        margin: 0;
    }

    .receipspar > span {
        font-size: larger;
        text-align: center;
        display: block;
        width: 100%;
        background-color: rgba(179, 210, 236,0.8);
        padding: 5px 0;
        border-radius: 10px 10px 0 0;
    }

.RusPar {
    display: block;
    background-color: rgba(179, 210, 236,0.5);
    text-align: justify;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

    .RusPar ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }

        .RusPar ul li {
            color: rgba(0,50,150,0.9);
            background-color: rgb(179, 210, 236);
            border-radius: 5px;
            max-width: 250px;
            min-width: 150px;
            margin: 2px auto;
        }

.par > span {
    font-size: larger;
    text-align: center;
    display: block;
    width: 100%;
    background-color: rgba(179, 210, 236,0.8);
    padding: 5px 0;
    border-radius: 10px 10px 0 0;
}

.par .coolListItem {
    width: 790px;
}

.attention {
    background-color: rgba(255,150,150,0.5);
}

.receipTitle {
    font-weight: bolder;
}

.receipText {
    text-align: justify;
}

.latinHeader {
    font-weight: bolder;
    display: block;
    width: 100%;
    font-size: larger;
    text-align: center;
    color: rgba(0,50,150,0.9);
    background-color: rgb(179, 210, 236);
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
}

.herbImage {
    width: 250px;
    height: 250px;
    overflow: hidden;
    float: left;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    border-radius: 125px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,50,150,0.8);
}

    .herbImage:hover {
        box-shadow: 0 0 10px blue;
    }

#macroImg {
    float: left;
}

#farImg {
    float: right;
}

#rusNamesDiv {
    padding-left: 250px;
    padding-right: 250px;
    margin: 5px;
    clear: none;
}

#textSearchResultList {
    margin: 0 15px;
    display: inline-block;
    position: relative;
    background-color: rgba(179, 210, 236,0.2);
    width: 820px;
    border-radius: 10px;
    min-height: 400px;
    padding-bottom: 20px;
}

    #textSearchResultList h1 {
        margin-bottom: 10px;
    }

        #textSearchResultList h1 + div {
            margin-left: 10px;
        }


.searchListColumn {
    float: left;
    width: 200px;
    margin: 0;
}

    .searchListColumn a {
        color: #01447D;
        display: block;
        margin: 2px;
        padding: 1px 4px;
        border-radius: 5px;
        text-align: left;
        font-size: 16px;
        text-decoration: none;
    }

        .searchListColumn a:hover {
            background-color: rgb(179, 210, 236);
        }

#bigImageWrapper {
    width: 810px;
    height: 600px;
    margin-left: -405px;
    margin-top: -300px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    padding: 0;
}

    #bigImageWrapper img {
        max-width: 800px;
        max-height: 600px;
        margin: 0 auto;
        display: block;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0,50,150,1);
        border: 5px solid rgb(180, 200, 255);
    }

        #bigImageWrapper img:hover {
            box-shadow: 0 0 25px blue;
        }




.tooltip {
    color: #000000;
    outline: none;
    text-decoration: none;
    position: relative;
}

    .tooltip span {
        margin-top: -25px;
        position: absolute;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        font-family: Calibri, Tahoma, Geneva, sans-serif;
        display: none;
        padding: 0 5px;
        background-color: rgba(206, 228, 246, 0.20);
    }

    .tooltip:hover span {
        display: block;
    }

.herbalMainDiv {
    background-color: rgba(179, 210, 236,0.2);
    border-radius: 10px;
    padding: 0 0 10px 0;
    margin: 10px;
}

#searchByNameBlock {
    display: block;
    float: right;
}


#googleAds {
    padding: 10px 0;
    background-color: rgb(179, 210, 236);
    display: block;
    border-radius: 10px;
    width: 830px;
    margin: 5px auto -5px;
}