
<div id="allLetters">
    <div class="Linkletters" id="latinLetters" >
        @Html.Action("latinLetters", "Search", null)
    </div>

    <div class="Linkletters"  id="rusLetters" >
        @Html.Action("rusLetters", "Search", null)
    </div>
</div>
