<div id="searchBlock">
    <script>

        function searchByName() {
            var value = document.getElementById('s').value;
            window.location = "/SearchByNames/" + value;
        };

        function SearchBySickness() {
            var val = document.getElementById('r').value;
            window.location = "/SearchBySickness/" + val;
        };

        function searchKeyPress(e) {
            // look for window.event in case event isn't passed in
            e = e || window.event;
            if (e.keyCode == 13) {
                searchByName();
                return false;
            }
            return true;
        }
        function searchReceipKeyPress(e) {
            // look for window.event in case event isn't passed in
            e = e || window.event;
            if (e.keyCode == 13) {
                SearchBySickness();
                return false;
            }
            return true;
        }

    </script>
    <div class="searchByNameBlock">
        <button id="nameSearchSubmit" title="Поиск по названию" onclick="searchByName();" class="sButton">Поиск</button>
        <input type="text" id="s" name="s" placeholder="Поиск по названию" onkeypress="return searchKeyPress(event);"/>

    </div>
    <div class="searchByNameBlock" style="display: none;">
        <input type="text" id="r" name="r" onclick="value = '';" value="Поиск по болезням" onkeypress="return searchReceipKeyPress(event);" />
        <button id="SicknessSearchSubmit" title="Поиск по болезням" onclick="SearchBySickness();" class="srButton">Search</button>
    </div>


</div>