
<div id="allLetters">
    <div class="tooltip">
        <span>Поиск по первой букве в международной номенклатуре</span>
        <div class="Linkletters" id="latinLetters">
            @Html.Action("latinLetters", "Search", null)
        </div>
    </div>

    <div class="tooltip">
        <div class="Linkletters" id="rusLetters">
            <span style="margin-left:45px;">Поиск по первой букве в народных названиях</span>
            @Html.Action("rusLetters", "Search", null)
        </div>
    </div>
</div>
