
<div id="allLetters" style="margin-top:100px;">
    <div id="latinLetters" style="float:left; display:block;">
        @Html.Action("latinLetters", "Search", null)
    </div>

    <div id="rusLetters" style="float:right; display:block;">
        @Html.Action("rusLetters", "Search", null)
    </div>
</div>
